<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css"/>
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-theme.css"/>
  <link rel="stylesheet" type="text/css" href="/static/css/styles.css"/>
  <script type="text/javascript" src="/static/js/jquery.js"></script>
  <script type="text/javascript" src="/static/js/angular.js"></script>
  <script type="text/javascript" src="/static/js/angular-mongolab.js"></script>
  <script type="text/javascript" src="/static/js/ui-bootstrap-tpls.js"></script>
  <script type="text/javascript" src="/static/js/<%= mainJsName %><%= production ? '.min' : '' %>.js"></script>
</head>

<body ng-controller="AppCtrl">
  <div ng-include="'header/header.tpl.html'"></div>
  <div class="container-fluid"></div>
</body>
</html>
